/* -------------- Body Functions ------------------ */

body{
background-color: #9FAACF;
}

hr {
border-color: #7D8CBE;
opacity: 1;
margin-top: 50px;
border-style: dotted;
border-bottom: 0px;
border-width: 8px;
width: 120px;
margin-left: auto;
margin-right:auto;
}

h1, h2, p {
text-align: center;
margin-top: 30px;

}

/* Top Container */

.profile-picture {
display: block;

/* This will center the image */
margin-left: auto;
margin-right: auto;

/* Border-radius will make the image a circle */
border-radius: 50%;

/* Width will change the size of the image */
width: 15%;

/* This will give white space above the image. */
margin-top: 50px;

margin-bottom: 25px;
}

/* --------------- Middle Container ----------------- */

.second-header{
margin-top:50px;
margin-bottom: 50px;
}


.network-cert {
    margin: 0 50 0 auto;
}

.cert{
width: 120px;
display: block;
margin: 0 auto 0 auto;
}

.certificates{
display: flex;
flex-direction: row;
/* Justify-content is X-axis basis. Align-items is Y-axis basis. */
justify-content: center;
margin-left: 50px;
justify-content: space-evenly;
}

.cert-title{
overflow-wrap: break-word;
text-align: center;
font-size: medium;
margin-top: 10px;
}

/* --------------- Bottom Container ----------------- */

.third-header{
margin-top:50px;
margin-bottom: 50px;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill{
    padding: 15px;
}

/* --------------- Contact Me ----------------- */

.tags{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.tag{
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.tag:hover{
    color: blue;
}

.navbar-brand:hover{
    color: blue;
}